html{
	background: -webkit-linear-gradient(#DAD8DA, #585057);
	background: -moz-linear-gradient(#DAD8DA, #585057);
	background: -ms-linear-gradient(#DAD8DA, #585057);
}
body{
	font: 16px Arial;
}
h1{
	text-align: center;

}
h2{
	background-color: 
	color:#621121;
	text-align: center;
	font-size: 1.4em
	font-weight:normal;
	margin: 0px auto;
	padding: 10px;
	width: 420px;
}
section{
	background-color: #EAD7A7
    margin: 20px auto;
    padding: 20px;
    width: 600px;
    padding-left: 0;
}

section div {
    border: 1px solid #080808;
    padding: 10px;
    margin-bottom: 4px;
}

section div.ejemplo {
    background-color: #7B889B;
    text-align: center;
}

section div.ejemplo:hover {
    cursor: pointer;
    background-color: #8C99B2;
}
div.div{
	background-color: #C3D7FF;
	border: 1px solid #080808;
    margin-bottom: 4px;
    margin: 20px auto;
    padding: 20px;
    width: 600px;
}

section div.resultado {
    font-size: 0.8em;
}
xmp{
	white-space: pre-line;
}